body {
  margin: 0;
  width: 100vw;
  background: #fff1e6;
  /* display: flex; */
  align-items: center;
  /* text-align: center; */
  justify-content: center;
  place-items: center;
  font-family: proxima-nova,sans-serif;
  
  /* font-family: poppins; */
}
.mainImg {
  border: 5px solid #fcd5ce;
}

.span {
  display: inline-block; margin-top: 4px
}


.body_file {
  height: 90%;
}






.up_table_treatment {
  display: flex;
 
  /* align-content: flex-end; */
  margin-left: 25vh;
  /* margin-right: 35%; */
   /* margin-top: 5vh; */
}

.link {
  color: black;
}

.link {
  text-decoration: none;
}
.link:hover {
  color: white;
}
.bright:hover {
  color: white;
}

.bright {
  font-weight: bold;
  color: black;
}

.header_tre { 

    /* left: 39vh; */
    margin-top: 9.5vh;
    margin-right: 52vh;
    font-size: xx-large;
}


.header_client{
  position: fixed;
  /* left: 38vh; */
  margin-right: 109vh;
  margin-top: 10.3vh;
  font-size: xx-large;
}



.frame {
  width: 100%;
  height: 70vh;
  margin-left: 40vh;
  margin-top: 10vh;
}