body {
  margin: 0;
  width: 100vw;
  background: #f38375;
  /* display: flex; */
  align-items: center;
  /* text-align: center; */
  justify-content: center;
  place-items: center;
  overflow: hidden;
  font-family: proxima-nova,sans-serif;
  
  /* font-family: poppins; */
}
.mainImg {
  border: 5px solid #fcd5ce;
}

.span {
  display: inline-block; margin-top: 4px
}


.body_file {
  height: 90%;
}






.up_table_treatment {
  display: flex;
  align-items: flex-start;
  /* align-content: flex-end; */
  margin-right: 35%;
  margin-top: 5vh;
}

.link {
  color: black;
}


.link:hover {
  color: white;
}
.bright:hover {
  color: white;
}

.bright {
  font-weight: bold;
  color: black;
}

#header_tre { 
  /* margin-right: 50vh; */

}



.frame {
  width: 100%;
  height: 60vh;
  margin-left: 40vh;
  margin-top: 10vh;
}