@import url('https://fonts.googleapis.com/css2?family=Montserrat');

h2 {
    color: black;
    margin-bottom: 30px;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.form-body {
    width: 100%;
}

@keyframes bounceIn {
    0% {
      transform: scale(0.1);
      opacity: 0;
    }
    60% {
      transform: scale(1.05);
      opacity: 1;
    }
    100% {
      transform: scale(1);
    }
  }

.button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 8px;
    animation-duration: 2s;
    animation-name: bounceIn;
}