
.fieldContainer {
    display: flex;
    flex-direction: column;
    /* width: 20%; */
    margin-bottom: 15px;
}

.form-input{
    outline: none;
    border: none;
    border-bottom: solid 1px lightgray;
    font-size: 17px;
    margin-bottom: 12px;
    padding-bottom: 6px;
    font-family: 'Montserrat', sans-serif;
}

.form-input::placeholder{
    color:  rgb(184, 180, 180);
    
}

.form-input:focus{
    outline: none;
    border: none;
    border-bottom: solid 1px #fe5f55;
}

.field-error {
    color: red;
}