.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 30px;
    background-color: #577399;
    margin-bottom: 10px;
}

.nav-wrapper {
    display: flex;
    align-items: center;
}

.links-container {
    margin-right: 35px;
}