.logo-container .logo-text{
    /* font-size: 3vw; */
    color: white;
    margin: 0;
    padding: 0;
}

.logo-container {
    display: flex;
    align-items: baseline;
}

/* .logo-container .logo-deco{
    font-size: 10vw;
    color: #fe5f55;
} */

.logo-deco {
    background-color: #fe5f55;
    /* width: 0.7vw;
    height: 0.7vw; */
    border-radius: 50%;
}

.large .logo-text{
    font-size: 4vw;
}

.large .logo-deco {
    width: 1vw;
    height: 1vw;
}

.small .logo-text {
    font-size: 3vw;
}

.small .logo-deco {
    width: 0.8vw;
    height: 0.8vw;
}