.ReactModalPortal > div {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay {
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal {
    background-color: white;
    padding: 30px;
    outline: none;
    width: 25%;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}
