.nav-menu ul {
    display: flex;
    list-style: none;
    font-size: 15px;
    padding-inline-start: 0;
    font-family: 'Montserrat', sans-serif;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    font-size: 17px;
}

.nav-menu .nav-link:first-child {
    margin-left: 0;
}

.nav-menu .nav-link {
    margin-left: 35px;
    padding: 4px;
    transition:  all 0.2s ease-out;
    box-shadow: 0 0 0 0 #222;
}

.nav-menu .nav-link:hover {
    text-decoration: underline;
    transform: translate(2px, -2px);
}