
.wrapper-container {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.form-container {
    background-color: white;
    padding: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

body {
    background-color: #bdd5ea;
}


hr {
    height: 1px;
    background-color: rgba(116, 113, 113, 0.123);
    border: none;
    width: 100%;
    margin-bottom: 15px;
    margin-top: 0;
}


.form-body {
    width: 100%;
    margin-bottom: 10px;
}

.linkto {
    color: #495867;
    outline: none;
}

.linkto:hover {
    font-weight: bold;
}

.linkto:focus {
    font-weight: bold;
}



.wrapper {
    display: flex;
    flex-direction: row;
    padding-left: 10%;
    background-color: #495867;
    width: 100%;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 15px -3px, rgba(0, 0, 0, 0.05) 0px 4px 6px -2px;
}


.text-container{
    width: 46%;
    position: relative;
    /* top: -40px; */
    top: -2em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* .text-container h1{
    font-size: 4rem;
    color: white;
    margin: 0;
    padding: 0;
}

.text-container h1 span{
    font-size: 100px;
    color: #fe5f55;
} */

.text-container h2{
    font-size: 3vw;
    color: #bdd5ea;
    margin: 0;
}

