.my-date{
    background-color: #095F62;
    width: -moz-fit-content;
    width: fit-content;
    max-width: 200px;
    margin-inline: 10px;
    margin-bottom: 0;
    margin-left: 15px;
    padding-inline: 10px;
    padding-top: 1px;
    color: #e7e7e8;
    padding-bottom: 0;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    align-self: flex-end;

    
  }

  .others-date{
    background-color: rgb(37,47,49);
    width: -moz-fit-content;
    width: fit-content;
    max-width: 200px;
    margin: 10px;
    padding-inline: 10px;
    padding-top: 1px;
    color: #e7e7e8;
    padding-bottom: 0;
    border-top-left-radius: 3px;
    

  }