@import "./Views/colors.scss";



.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
}


body{
    background-color: $background;
    font-family: $font-family; 
}
#root{
    background-color: $background;
    font-family: $font-family;
    color: $text;
    width: 100%;
    height: 100%;
    position: fixed;
}

#app{
  width: 100%;
  height: 100%;
  display: flex;
}

.inner-container{
  background-color: $form-background;
  
  // display: flex;
  // flex-direction: row;
  // height: auto;
  padding-top: 0.5em;
  width: 40em;
  height: 40em;
  // height: ;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  border-style: solid;
  border-width: 1px;
  justify-content: space-around;
}

.box-container{
  // display: flex;
  // flex-direction: column;
  // align-items: center;
  // padding-bottom: 1em;
  // padding-top: 1em;
  display: flex;
    flex-direction: row;
    align-items: center;
    padding-bottom: 1em;
    padding-top: 1em;
    align-content: space-evenly;
    justify-content: space-evenly;
    margin: auto;
    // margin: auto;
}

.input-group{
  display: flex;
  flex-direction: row;
  align-content: stretch;
  justify-content: space-between;
  align-items: center;

  padding-bottom: 0.5em;
}
#head{
  display: flex;
  background-color: #274c77;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
  justify-content: flex-start;
   
}
.menu-logo{
  padding: 0.5em;
  height: 5em;
}

.menu{
  text-decoration: none;
  color : #E1E5F2;
  padding: 1em;
  font-size: 1.25em;
}

.menu:hover{
 font-weight: bold; 
 background-color: #E1E5F2;
 color: $head-background;
 cursor: pointer;
}



