<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="description" content="Webpage description goes here" />
    <meta charset="utf-8">
    <title>Leads</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="author" content="">

    <link rel="stylesheet" href="css/leads.css">
    <h1>Yours Leads: </h1>

</head>

<body>
    <div id=error></div>

    <div class="container">
        <table style="width:100%" id="leads-table">

            <thead>
                <tr>
                    <td>
                        <button onclick="sortBy('name', 'DESC')"> Sort Desc
                        </button>
                        <button onclick="sortBy('name', 'ASC')">
                            Sort ASC
                        </button>
                    </td>
                    <td>
                        <button onclick="sortBy('phone_number', 'DESC')"> Sort Desc
                        </button>
                        <button onclick="sortBy('phone_number', 'ASC')">
                            Sort ASC
                        </button>
                    </td>
                    <td>
                        <button onclick="sortBy('email', 'DESC')"> Sort Desc
                        </button>
                        <button onclick="sortBy('email', 'ASC')">
                            Sort ASC
                        </button>
                    </td>
                    <td>
                        <button onclick="sortBy('gender', 'DESC')"> Sort DESC
                        </button>
                        <button onclick="sortBy('gender', 'ASC')">
                            Sort ASC
                        </button>
                    </td>
                    <td>
                        <button onclick="sortBy('more_info', 'DESC')"> Sort Desc
                        </button>
                        <button onclick="sortBy('more_info', 'ASC')">
                            Sort ASC
                        </button>
                    </td>
                    <td>
                        <button onclick="sortBy('update_confirm', 'DESC')"> Sort Desc
                        </button>
                        <button onclick="sortBy('update_confirm', 'ASC')">
                            Sort ASC
                        </button>
                    </td>
                </tr>
                <tr>
                    <th>Name</th>
                    <th>Phone Number</th>
                    <th>Email Address</th>
                    <th>Gender</th>
                    <th>More information</th>
                    <th>Confirmation of updates</th>
                </tr>
            </thead>
            <tbody id="tbody">

            </tbody>
        </table>

</body>
<script src="js/leads.js"></script>
<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js">
</script>


</html>