@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

$background: #F8F9FC;
$text: #3C4955;
$button-background: #577399;
$form-background: #DAE6F5;
$button-text: #F7F7FF;
$error-color: #FE5F55;
$head-background: #274c77;

$font-family: 'Roboto', sans-serif;