@import "../../Views/colors.scss";
.text{
    padding-bottom: 0.75em;
}
.up-form-text{
    padding-bottom: 0.75em;
    color: $head-background;
//     // padding-bottom: 0.75em;
//     // font-size: 1em;
//     // align-content: center;
}
.text-controller{
    background-color: $background;
    color: $head-background;
    font-size: 1.25em;
    padding-bottom: 1em;
}