body {
  margin: 0;
  width: 100vw;
  background: #F8EDEB;
  /* display: flex; */
  align-items: center;
  /* text-align: center; */
  justify-content: center;
  place-items: center;
  overflow: hidden;
  font-family: proxima-nova,sans-serif;
  
  /* font-family: poppins; */
}
.mainImg {
  border: 5px solid #F9DCC4;
}

.span {
  display: inline-block; margin-top: 4px
}

/* .page {
  display: flex;
} */
.container1 {
display: flex;
    justify-content: space-between;
    /* align-items: flex-end; */
}

.client_tags {
  width: 20%;
  height: 30%;
  margin-right: 15vh;
  margin-top: -9%;
}


.client_details {
  text-align: start;
  margin-top: 10vh;
  margin-left: 10vh;
}

.dataPage {
  margin-top: 7%;
}

