.button {
    margin-top: 20px;
    margin-bottom: 1vh;
    background: #FEC89A;
    height: 40px;
    margin-left: 1vh;
    font-weight: 900;
    box-shadow: 6px 6px 6px rgb(222, 217, 217), -6px -6px 6px white;
    transition: 0.5s;
    font-size: large;
    cursor: pointer;
    display: block;
    width: 100%;
    padding: 0;
    border: none;
    box-sizing: border-box;
 }


button:hover {
    box-shadow: none;
}


.buttons {
    margin-right: 3%;
    margin-bottom: 20vh;
}

.button1 {
    margin-left: 15%;
    width: 13vh;
    height: 5vh;
    cursor: pointer;
   
    background-color: #FEC89A;
    /* font-weight: bolder; */
    font-size: 20px;
    border-color: #F8EDEB;
    border-radius: 5vh;
    font-weight: 900;
  
    /* box-shadow: 6px 6px 6px rgb(222, 217, 217), -6px -6px 6px F9DCC4; */
}
        
.add_image {
    width:40px;
    cursor: pointer;
    margin-top: 10vh;
    
}

.close {
    background-color: #F8EDEB;
    border-color:#FEC89A ;
    border-width: 3px;
    font-weight: 100px;
    cursor: pointer;
    color: black;
}


.buttons_delete {
    display: flex;
  
    flex-direction: row;
}