

body{
  min-height: 100vh;
  overflow: hidden;
}

.default{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.centered{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
}

form{
  margin-top: 18px;
        background-color: white;
        display:flex;
        align-self: center;
        flex-direction: column;
        width: 100%;
        height: fit-content;
        border-radius: 5px;
        align-content: center;
        align-items: center;
}

.left-side{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width:85%;

}

h1{
  margin: unset;
  margin-left: 1em;
  font-family: 'Dancing Script', cursive;
}

button{
  background-color:#ffffff;
border-radius:28px;
border:1px solid #9faa3e;
display:inline-block;
cursor:pointer;
font-family: 'Dancing Script', cursive;
font-size:17px;
padding:9px 30%;
text-decoration:none;
  margin-left: 1em;
  align-self: center;
  margin-bottom: 1em;
}

.clickable{
  color:rgb(10, 10, 170);
  margin-left: 0.5em;
}

.clickable:hover{
   color: rgb(155, 105, 105);
    cursor: pointer;
}

.custom-input{
  display: flex;
  flex-direction: column;
  width: 50%;
}

input{
  /* padding: 7px;
  border-radius: 25px;
  border:none;
  border-bottom: 1px solid lightgray; */

  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid black;
}


#root{
  min-height: 100vh;
}

#header-bar{
  overflow: hidden;
  background-color: wheat;
  display: flex;
  height: 70px;
  -webkit-box-shadow: 1px 1px 15px 5px #000000; 
  box-shadow: 1px 1px 15px 5px #000000;
  position: sticky;
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
}


#logo{
  font-size: large;
  font-weight: bold;
  align-content: space-between;
  align-self: center;
  padding-left: 1em;
  padding-right: 1em;
  justify-self: center;
  font-family: 'Viaoda Libre', cursive;
  font-size: 30px;
  }

  .card{
    -webkit-box-shadow: 1px ​-1px 29px 2px #000000;
    box-shadow: 1px 1px 15px 5px #000000;
    padding: 0px;
    width: 784px;
    height: 535px;
    display: flex;
    border-radius: 12px;
    position: absolute;
    top: 18%;
  }

  .card-left-col{
    flex:2
  }

  .card-right-col{
    flex: 1;
    background-image: url('./assets/card-left-grid.jpeg');
    opacity: 40%;
    background-size: cover;
  }

  .flex-row{
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #divider{
    background-image: url('./assets/divider.png');
    background-size: contain;
    min-height: 53px;
    background-repeat: round;
  }

  /* #sided-hr{
    flex:2;
  }

  #twp{
    flex:1;
    text-align: center;
    font-family: 'Yellowtail', cursive;
    font-size: larger;
  }

  .flex-col{
    display: flex;
    flex-direction: column;
    font-size: xx-large;
  } */

  .center-screen{
    align-self: center;
    justify-content: center;
  }

  #err{
  color: red;
  
  }