

body{
  min-height: 100vh;
  overflow: hidden;
}

.default{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.centered{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

form{
  margin-top: 18px;
        background-color: white;
        border: 1px solid lightgrey;
        display:flex;
        flex-direction: column;
        width: 300px;
        height: 300px;
        border-radius: 5px;
        align-content: center;
        margin-bottom: 100px;
}



h1{
  margin: unset;
  margin-left: 1em;
  font-family: 'Dancing Script', cursive;
}

button{
  background-color:#ffffff;
border-radius:28px;
border:1px solid #9faa3e;
display:inline-block;
cursor:pointer;
font-family: 'Dancing Script', cursive;
font-size:17px;
padding:9px 16px;
text-decoration:none;
  margin-left: 1em;
  align-self: center;
}

.clickable{
  color:rgb(10, 10, 170)
}

.clickable:hover{
   color: rgb(155, 105, 105);
    cursor: pointer;
}

input{
  margin-top: 3em ;
  margin-bottom: 2em;
  margin-left: 1rem;

}

#root{
  min-height: 100vh;
}


#header-bar{
  overflow: hidden;
  background-color: wheat;
  display: flex;
  height: 70px;
  -webkit-box-shadow: 1px 1px 15px 5px #000000; 
  box-shadow: 1px 1px 15px 5px #000000;
  position: sticky;
  position: -webkit-sticky; 
  position: sticky;
  top: 0;
}


#logo{
  font-size: large;
  font-weight: bold;
  align-content: space-between;
  align-self: center;
  padding-left: 1em;
  padding-right: 1em;
  justify-self: center;
  font-family: 'Viaoda Libre', cursive;
  font-size: 30px;
  }

  .card{
    padding: 0px;
    width: 784px;
    height: 535px;
    display: flex;
    background-color: beige;
    border-radius: 12px;
    position: absolute;
    top: 20%;
  }


  .card-left-col{
    flex:2

  }

  .card-right-col{
    flex: 1;
    background-image: url('./assets/card-left-grid.jpeg');
    opacity: 40%;
    background-size: cover;
  }