// .inner-container{
//     justify-content: center;
  
// }
.box-addUser{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 70%;
}
// .input-group{
// justify-content: space-evenly;
// }


