
  .footer {
    background-color: #e8e8e4;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 15px;  
    flex: 1;
}

.footer-text {
   display: flex;
   flex-direction: column;
   font-size: smaller;
   justify-content: right;
}

#footer-phone {
    margin-top:-0.0008px;
}

#footer-adress {
    margin-top: -2mm;
}

#chat {
    display: none;
}
.visible {
 
}
.chat_button {
    width: 5vh;
    height: 5vh;
    border-radius: 10px;
    background-color: pink;
}


.chat_div {
    display: flex;
    flex-direction: column;
}