.mySlides img{
    border-radius: 20px;
    margin-bottom: 10px;
    display: none;
}

.mySlides img.visible{
    display: flex;
}

.column1 img {
    border-radius: 20px;
    width: 15%;

} 
li::before {
    margin-left: 0.3cm;
    position: absolute;
    left: 5px;
    content: "\2713";
    color: #666;
}

#pict {
    margin-left: 5px;
}

.image-gallery{
    display: flex;
    flex-direction: row;
    margin-left: 4%;
}

.img1 {
    width: 40px;
    height: 40px;
    margin-left: 0.3cm;
    margin-right: 0.3cm;
    flex-direction: row;
    
}

img{
    max-width: 100%;
    max-height: 100%;
    vertical-align: middle;

}

.upper-img{
flex: 4;
}

.lower-img{
    flex: 1;

}

@media (max-width: 600px) {
    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
}

.middle-container {
position: relative;
}


/* Add a pointer when hovering over the thumbnail images */
.cursor {
cursor: pointer;
}


/* Six columns side by side */
.column1 {
    display: flex;
    flex:1;
    margin-right: 5%;
    justify-content: space-evenly;
    flex-wrap: wrap;

}

/* Add a transparency effect for thumnbail images */
.demo {
opacity: 0.6;
}

.active,
.demo:hover {
opacity: 1;
}