   
   
#backgroundImg
{
    
    background: url('background.jpg') center ; 
    width: 100%;
 
    background-size: cover;
    position: absolute;
    opacity: 0.4;
    z-index: -1;
}


body {    

    background-color: black;
    margin: 0;
    padding: 0;
}


   
   
   #thanksMsg{
        font-family: 'Roboto Mono', monospace;
        color:white;
        font-size: 2em;
        max-width: 70%;
        margin: 2vh;
    }