<!DOCTYPE html>
<head>
    <title>Hello</title>
    <link rel="stylesheet" href="leads.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Gruppo&family=Montserrat&family=Yusei+Magic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <header class="header">
        <div id="logo">RGB</div>
        <div id=Business-logo>Gradiz</div>
    </header>
    <div class=main-content>
        <div class="title_search">
          <h1>Leads</h1>
          <form class="search_lead" action="">
            <input type="text" placeholder="Search" name="search_field" id="search_field">
            <button type="submit"  id="search_button" name="search_button"><i class="material-icons">search</i></button>
          </form>
          
        </div>
        <table class="leads_table">  
            <tr class="title">
                <th>Full Name</th>
                <th>Email</th>
                <th>Phone</th>
              </tr>
            <tr class="card">
              <td>yuval cohen</td>
              <td>coheen1@gmail.com</td>
              <td>0525369797</td>
            </tr>
            <tr class="card">
              <td>matan halamish</td>
              <td>matan@gmail.com</td>
              <td>0546789484</td>
            </tr>
            <tr class="card">
              <td>Lois chen</td>
              <td>lois@gmail.com</td>
              <td>0523457686</td>
            </tr>
            <tr class="card">
              <td>Joe Swanson</td>
              <td>joe@gmail.com</td>
              <td>0546789365</td>
            </tr>
            <tr class="card">
              <td>Cleveland Brown</td>
              <td>bhb@gmail.com</td>
              <td>07537363636</td>
            </tr>
            <tr class="card">
              <td>Cleveland Brown</td>
              <td>bhb@gmail.com</td>
              <td>07537363636</td>
            </tr>
            <tr class="card">
              <td>Cleveland Brown</td>
              <td>bhb@gmail.com</td>
              <td>07537363636</td>
            </tr>
            <tr class="card">
              <td>Cleveland Brown</td>
              <td>bhb@gmail.com</td>
              <td>07537363636</td>
            </tr>
            <tr class="card">
              <td>Cleveland Brown</td>
              <td>bhb@gmail.com</td>
              <td>07537363636</td>
            </tr>
            <tr class="card">
              <td>Cleveland Brown</td>
              <td>bhb@gmail.com</td>
              <td>07537363636</td>
            </tr>
            <tr class="card">
              <td>Cleveland Brown</td>
              <td>bhb@gmail.com</td>
              <td>07537363636</td>
            </tr>
            <tr class="card">
              <td>Cleveland Brown</td>
              <td><a href="mailto:bhb@gmail.com">bhb@gmail.com</a></td>
              <td>07537363636</td>
            </tr>
            <tr class="card">
              <td>Cleveland Brown</td>
              <td><a href="mailto:bhb@gmail.com">bhb@gmail.com</a></td>
              <td>07537363636</td>
            </tr>
            
          </table>
    </div>
</body>
</html>