.search-container{
    // width: 100%;
    
    .form-input{
        width: 100%;
    }
}

.results {
    position: absolute;
    padding-left: 0;
    background: white;
    opacity: 1;
    display: block;
    // min-width: 250px;
    text-align: left;
    // box-shadow: 0px 3px 5px -1px #ccc;
    max-height: 100px;
    overflow: scroll;
    width: 25%;

    .result {
        border: solid 1px rgb(172, 172, 172);
        border-bottom: none;

        &:last-child{
            border-bottom: solid 1px rgb(172, 172, 172);
        }
    }

}