.table th, .table td{  
    text-align: left;
    padding: 15px;
}

.table {
    border-collapse: separate;
    width: 100%;
    border-spacing: 0 15px;
  } 

  .table tr {
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    margin-bottom: 20px;
  }

  .table tr:hover {
    background-color: #f8f8f894;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 6px 12px 2px;
  }


  .table th {
    background-color: #d4e6f7;
    /* color: wh; */
  }


  .card{
    /* box-shadow: 0px 0px 9px 0px rgba(187, 187, 187, 0.1); */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  }

  .card:hover{
    /* box-shadow: 0 8px 16px 2px rgba(136, 136, 136, 0.2); */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    background-color: #ffffff;
  }

  /* .sticky th{
    position: sticky;
    top: 0px;
  } */

  /* .table-container { */
    /* max-height: 70vh; */
    /* overflow-y: scroll; */
  /* } */


 