.tabs-container {
    // overflow: hidden;
    // border: 1px solid #ccc;
    background-color: #f1f1f1;

    button {
        background-color: inherit;
        float: left;
        border: none;
        outline: none;
        cursor: pointer;
        padding: 14px 16px;
        transition: 0.3s;
        border: solid 0.2px rgba(182, 182, 182, 0.329);

        &:hover {
            background-color: #e4e4e4;
        }

        // &:focus {
        //     background-color: #d4e6f7;
        //     border-bottom: solid 0.2px #d4e6f7;
            
        // }
    }

    .active-tab {
        background-color: #d4e6f7;
        border-bottom: solid 0.2px #d4e6f7;

        &:hover {
            background-color: #d4e6f7 !important;
        }
    }
}

