.container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    font-family: 'Baloo Tammudu 2', cursive;
    font-size: 30px;
    color:#e9ecef;

}
#leftHalf, #slogans{
    display: flex;
    background: center/cover url('74892116_446195389606894_2599800381605835077_n.jpg');
    width: 50%;
    position: absolute;
    left: 0px;
    height: 100%; 
    background-repeat: no-repeat;
    z-index: -1;

}

#rightHalf {
    display: flex;
    background: center/cover url('94942499_234474357646928_6566161882684989842_n.jpg');
    width: 50%;
    position: absolute;
    right: 0px;
    height: 100%;
    background-repeat: no-repeat;
    z-index: -1;
 }

#slogans ,#btn{
    font-family: 'Staatliches', cursive;

}
#slogans{
    flex-wrap: wrap;
}
#slogan1{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-start; */
    /* flex-wrap: wrap; */
    font-size: 500%;
    color: #495057;
    text-shadow: 0 0 3px #d3d3d3, 0 0 5px;
}
#slogan2{
    display: flex;
    flex-direction: column;
    /* justify-content: flex-end;  */
    /* flex-wrap: wrap; */
    font-size: 500%;
    color: #d3d3d3;
    text-shadow: 0 0 3px #495057, 0 0 5px;
}

#form{
   
   display: flex;
   flex-direction: column; 
   align-content: center;
   flex-wrap: nowrap;
    padding-left: 20%;
    font-size: 100;
    height: 50%;
    text-shadow: 0 0 3px #232324, 0 0 3px;
   /* align-items: flex-end; */ 
    
}
#label{
    display: flex;
    padding: 1em;
    flex-direction: row;
    justify-content: flex-end;  
}
.input {
    padding: 3px;
    font-size: 16px;
    border-width: 1px;
    border-color: #CCCCCC;
    background-color: #f8f5f5;
    color: #000000;
    border-style: solid;
    border-radius: 15px;
    box-shadow: 0px 0px 5px rgba(66,66,66,.75);

}
.input:focus {
    outline:none;
}

#btn {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 150%;
    width: fit-content;
    text-shadow: 0 0 3px #d3d3d3, 0 0 5px;
	background:linear-gradient(to bottom, #ededed 5%, #b8b8b8 100%);
	background-color:#ededed;
	border-radius:15px;
	border:1px solid #211f1f;
	display:inline-block;
	cursor:pointer;
	text-decoration:none;
	text-shadow:0px 1px 0px #e1e2ed;
}
#btn:hover {
	background:linear-gradient(to bottom, #b8b8b8 5%, #ededed 100%);
	background-color:#bab1ba;
}
#btn:active {
	position:relative;
	top:1px;
}

#Thank-You-page{
    display: flex;
    background-color: #c6ced1;
    background-image:  url('72971807_2423326977922002_260967650391795822_n.jpg');
    display: flex;
    position: absolute;
    background-size: auto;
    height: 100%; 
    background-repeat: no-repeat;
    z-index: -1; 
}

#Thank-You-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60%;
    flex-wrap: wrap;
    font-size: 500%;
    font-weight: bold;
    color: #2f3032;
    text-shadow: 0 0 5px #d3d3d3, 0 0 3px;  
    font-family: 'Open Sans', sans-serif;
}

#Thank-You-page:nth-of-type(2){
    flex-grow: 2;

}