@import "../../Views/colors.scss";
.head-form{
    font-size : 3em;
    padding-top: 1em;
    padding-bottom : 1em;
    position: absolute;
    font-weight: bold;
    // text-shadow: 2px 2px $background;
    top: 0;
}
.head-msg{
    font-size : 3em;
    padding-top: 2em;
    padding-bottom : 1em;    
}

#user-page-header{
    font-size : 3em;
    font-weight: bold;
    padding-bottom: 15px;

}

.head-form-forgot-password{
    font-size : 2em;
    padding-top: 1em;
    padding-bottom : 1em;
    font-weight: bold;
}

.head-form-add-user{
    font-size : 2em;
    padding-top: 1em;
    padding-bottom : 1em;
    font-weight: bold;
}

