body {
    background-color:white;
    margin: 0 auto!important;
    background-image: url('../pexels-asad-photo-maldives-169192.jpg');
    background-repeat: no-repeat;
    background-size:cover;
}

#container{
    display: flex;
    flex-direction: column;
}


nav{
    overflow: hidden;
    background-color: #FFF7EE;
    display: flex;
    height: 70px;
    -webkit-box-shadow: 1px 1px 15px 5px #000000; 
    box-shadow: 1px 1px 15px 5px #000000;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border: black 1px;
    align-self: center;
}

#logo{
font-size: large;
font-weight: bold;
align-content: space-between;
align-self: center;
padding-left: 1em;
padding-right: 1em;
justify-self: center;
font-family: 'Viaoda Libre', cursive;
font-size: 30px;
}

.row-container{
    flex:1
}

nav li{
    font-size: medium;
    padding-inline-end: 4em;
    font-size: 20px;
}

li:hover{
    color: rgb(155, 105, 105);
    cursor: pointer;
}

.row{
 display: flex;
 flex-direction: row;
    height: calc(100vh - 70px);/* nav size */
}

.container{
    display:flex;
    flex-direction: column;
}



.left-column{
flex:2;
background-color: gainsboro;
background: rgba(0, 0, 0, 0.4);
display: flex;
justify-content: space-around;
}

.right-column{
flex:3;
}

#wedding-bg{
    background-image: url('../pexels-asad-photo-maldives-169192.jpg');
    background-repeat: no-repeat;
    background-size:cover;

}

#footer{
    background-color: 'black';
    width: 100%;
    height: 20vh;
    flex: 1;
}

.layout{
    background-color: white;
    width: 300px;
    height: 600px;
}
  
  .form-container:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }

  
  

  .input-container{
    margin-left: 1em;
  }


  form{
      margin-top: 18px;
     opacity: unset;
      display: flex;
      flex-direction: column;
        background-color: white;
        border: 1px solid lightgrey;
        display:flex;
        flex-direction: column;
        width: 300px;
        height: 300px;
        border-radius: 3px;
        align-content: center;
        margin-bottom: 200px;
        justify-content: space-around;
        
  }

  input {
    margin-left: 2em;
    padding: 14px;
    font-size: 15px;
    border-width: 1px;
    border-color: #b4b455;
    background-color: #FFFFFF;
    color: #000000;
    border-style: solid;
    border-radius: 17px;
    box-shadow: -1px 1px 4px 0px rgb(66 66 66 / 75%);
    width: 60%;
}
input:focus {
    outline:none;
}


h1{
    margin: unset;
    margin-left: 1em;
    font-family: 'Dancing Script', cursive;
}

button{
    background-color:#ffffff;
	border-radius:28px;
	border:1px solid #9faa3e;
	display:inline-block;
	cursor:pointer;
	font-family: 'Dancing Script', cursive;
	font-size:17px;
	padding:16px 31px;
	text-decoration:none;
    margin-left: 1em;
    align-self: center;
}

#form-err{
    color: goldenrod;
    margin-left: 2em;
    font-weight: bold;
}

.centered{
    align-self: center;
}

#form2{
    display: flex;
    flex-direction: column;
}