.msg-page{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: auto;
}

#info-warper{
    display: flex;
    margin: auto;
    width: 45%;
    flex-direction: row;
    justify-content: space-evenly;
}